<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/home}">
<head>
</head>
<body>
	<div layout:fragment="content">
		<section id="title">
			<div class="fw-box">
				<div class="container-fluid">
					<div
						class="title-page d-flex align-items-center bd-highlight pt-4 pb-2">
						<h1 class="bd-highlight f-24">Profile</h1>
						<div class="breadcrumb-box bd-highlight ml-auto">
							<div class="d-inline-block">
								<nav aria-label="breadcrumb"
									class="bd-highlight bc-cus d-none d-xl-flex">
									<ol class="breadcrumb fs-085 bg-transparent p-0 f-13">
										<li class="breadcrumb-item"><a href="index.html">Home</a></li>
										<li class="breadcrumb-item"><a href="tai-khoan.html">Account</a></li>
										<li class="breadcrumb-item active" aria-current="page">Profile</li>
									</ol>
								</nav>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<main id="main">
			<!-- Grid pro  -->
			<!-- schedule  -->
			<section id="liked" class="pb-4">

				<div class="fw-box">
					<div class="container-fluid">

						<div class="row">

							<div class="col-12 col-xl-3 col-lg-4 d-none d-md-block">
								<!-- Menu Account -->
								<div class="side-right d-none d-xl-block">
									<div class="widget-right mg-b-20">
										<div class="card border-0 rounded-0 shadow-sm">

											<div class="card-body p-3 rounded-0 border-0">
												<h3
													class="card-title f-19 mb-3 font-weight-700 border-bottom pb-3">
													Hi! <a href="hp-so-ca-nhan" class="font-weight-700">Bisovn</a>
												</h3>
												<div class="card-text">
													<dl>
														<dt
															class="text-uppercase font-weight-800 text-gray mb-2 f-13">Account</dt>
														<dd class="ml-3 mb-1" th:if="${role == true}">
															<a href="/editor/share" class="text-dark"> <i
																class="las la-edit mr-1"></i> Editor
															</a>
														</dd>
														<dd class="ml-3 mb-1">
															<a href="thay-doi-mat-khau.html" class="text-dark"> <i
																class="las la-lock mr-1"></i> Change Password
															</a>
														</dd>
														<dd class="ml-3 mb-1">
															<a href="dang-nhap.html" class="text-dark"> <i
																class="las la-times-circle mr-1"></i> Log out
															</a>
														</dd>
													</dl>
													<hr />
													<dl class="font-weight-500">
														<dt
															class="text-uppercase font-weight-800 text-gray mb-2 f-13">Wallet</dt>
														<dd class="ml-3 mb-1">
															<a href="vi-va-so-du.html" class="text-dark"> <i
																class="las la-wallet mr-1"></i> Wallet and balance
															</a>
														</dd>
														<dd class="ml-3 mb-1">
															<a href="/deposit/step1" class="text-dark"> <i
																class="las la-sign-in-alt mr-1"></i> Deposit
															</a>
														</dd>
														<dd class="ml-3 mb-1">
															<a href="/withdraw/step1" class="text-dark"> <i
																class="las la-sign-out-alt mr-1"></i> Withdraw
															</a>
														</dd>
													</dl>
												</div>
											</div>
										</div>
									</div>
								</div>
								<!-- Menu Account -->
							</div>

							<div class="col-12 col-xl-9 col-lg-12 mini-col pb-4"
								layout:fragment="userContent"></div>
						</div>

					</div>
				</div>

			</section>
			<!-- schedule  -->
			<!-- Grid pro  -->
			<section id="signup-email" class="bg-grayblue pt-5 pb-4 text-white">
				<div class="container-fluid">
					<div class="fw-box">
						<div class="row">
							<div class="col-12 col-xl-7 col-lg-12">
								<div class="d-block d-sm-flex align-items-center mb-3">
									<h3 class="f-19 mb-2 mb-sm-0 text-white"
										style="min-width: 210px;">Đăng ký nhận Email</h3>
									<div class="input-group input-group-lg rounded-0">
										<input class="form-control rounded-0"
											placeholder="Email của bạn...">
										<div class="input-group-append">
											<a
												class="btn btn-warning btn-block text-white font-weight-500 rounded-0 "
												href="#"> <i class="las la-envelope"></i> <span>Đăng
													ký</span>
											</a>
										</div>
									</div>
								</div>
							</div>
							<div class="col-12 col-xl-5 col-lg-12">
								<div class="social-links text-right mb-3">
									<div class="d-inline-block">
										<h3
											class="f-15 mb-0 text-white d-block d-sm-inline-block mb-2 mb-sm-0 font-weight-500 mr-2">
											Liên kết mạng xã hội</h3>
										<div class="d-inline-block">
											<a href="#"><i class="lab la-twitter"></i></a> <a href="#"><i
												class="lab la-facebook-f"></i></a> <a href="#"><i
												class="lab la-youtube"></i></a> <a href="#"><i
												class="lab la-viber"></i></a> <a href="#"><i
												class="lab la-telegram-plane"></i></a>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</main>
	</div>
<script src="/lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../../../../lib/superfish/superfish.js"></script>
<script type="text/javascript" src="../../../../js/dashboard.js"></script>
<script type="text/javascript" src="../../../../js/main.js"></script>
</body>
</html>